.RoomViewChatBox {
    width: 100%;
    height: 0;
}

.RoomViewChatBoxChats {
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.RoomViewChatBoxInputs {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
